# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Vscode
*settings.json  
*c_cpp_properties.json

# Esp-idf 
build
CMakeFiles

*.clangd
CMakeCache.txt


# Stm Cmake
*/stm32/*/*/cmake
*/stm32/*/*/Drivers
*/stm32/*/*/.vscode
*/stm32/*/*/CMakePresets.json